src/ut10_old/WSReferences/WS_InventoryExchange/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://www.tabakon-inventory-exchange.org"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://v8.1c.ru/8.1/data/core"
		xmlns:xsd2="http://www.tabakon-inventory-exchange.org"
		name="InventoryExchange"
		targetNamespace="http://www.tabakon-inventory-exchange.org">
	<types>
		<xs:schema xmlns:tns="http://v8.1c.ru/8.1/data/core"
				xmlns:xs="http://www.w3.org/2001/XMLSchema"
				targetNamespace="http://v8.1c.ru/8.1/data/core"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:simpleType name="AllowedLength">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Fixed"/>
					<xs:enumeration value="Variable"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="AllowedSign">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Any"/>
					<xs:enumeration value="Nonnegative"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Array">
				<xs:sequence>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="BinaryDataQualifiers">
				<xs:sequence>
					<xs:element name="Length"
							type="xs:decimal"/>
					<xs:element name="AllowedLength"
							type="xsd1:AllowedLength"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="CompositeID">
				<xs:restriction base="xs:string">
					<xs:pattern value="-?[0-9]+(:[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})?"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="DataFillError">
				<xs:sequence>
					<xs:element name="Data"
							type="xs:string"/>
					<xs:element name="DataDescr"
							type="xs:string"/>
					<xs:element name="Text"
							type="xs:string"/>
					<xs:element name="Status"
							type="xsd1:FillCheckErrorStatus"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DataFillErrors">
				<xs:sequence>
					<xs:element name="item"
							type="xsd1:DataFillError"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="DateFractions">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Date"/>
					<xs:enumeration value="Time"/>
					<xs:enumeration value="DateTime"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="DateQualifiers">
				<xs:sequence>
					<xs:element name="DateFractions"
							type="xsd1:DateFractions"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Exception">
				<xs:complexContent>
					<xs:extension base="xsd1:GenericException">
						<xs:sequence>
							<xs:element name="data"
									type="xs:base64Binary"
									minOccurs="0"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="FillCheckErrorStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="FillChecking">
				<xs:restriction base="xs:string">
					<xs:enumeration value="DontCheck"/>
					<xs:enumeration value="ShowError"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="FixedArray">
				<xs:sequence>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FixedMap">
				<xs:sequence>
					<xs:element name="pair"
							type="xsd1:KeyAndValue"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FixedStructure">
				<xs:sequence>
					<xs:element name="Property"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Value"
										nillable="true"/>
							</xs:sequence>
							<xs:attribute name="name"
									type="xs:NMTOKEN"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GenericException"
					abstract="true">
				<xs:sequence>
					<xs:element name="descr"
							type="xs:string"/>
					<xs:element name="inner"
							type="xsd1:GenericException"
							minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="clsid"
						type="xsd1:UUID"
						use="required"/>
				<xs:attribute name="encoded"
						type="xs:boolean"
						default="false"/>
			</xs:complexType>
			<xs:complexType name="KeyAndValue">
				<xs:sequence>
					<xs:element name="Key"/>
					<xs:element name="Value"
							nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LocalStringItemType">
				<xs:sequence>
					<xs:element name="lang"
							type="xs:NMTOKEN"/>
					<xs:element name="content"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LocalStringType">
				<xs:sequence>
					<xs:element name="item"
							type="xsd1:LocalStringItemType"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Map">
				<xs:sequence>
					<xs:element name="pair"
							type="xsd1:KeyAndValue"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="Null">
				<xs:restriction base="xs:string">
					<xs:length value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="NumberQualifiers">
				<xs:sequence>
					<xs:element name="Digits"
							type="xs:decimal"/>
					<xs:element name="FractionDigits"
							type="xs:decimal"/>
					<xs:element name="AllowedSign"
							type="xsd1:AllowedSign"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ObjectVersion">
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9a-fA-F]{40}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="StandardBeginningDate">
				<xs:sequence>
					<xs:element name="variant"/>
					<xs:element name="date"
							type="xs:dateTime"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="StandardBeginningDateVariant">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Custom"/>
					<xs:enumeration value="BeginningOfThisDay"/>
					<xs:enumeration value="BeginningOfThisWeek"/>
					<xs:enumeration value="BeginningOfThisTenDays"/>
					<xs:enumeration value="BeginningOfThisMonth"/>
					<xs:enumeration value="BeginningOfThisQuarter"/>
					<xs:enumeration value="BeginningOfThisHalfYear"/>
					<xs:enumeration value="BeginningOfThisYear"/>
					<xs:enumeration value="BeginningOfLastDay"/>
					<xs:enumeration value="BeginningOfLastWeek"/>
					<xs:enumeration value="BeginningOfLastTenDays"/>
					<xs:enumeration value="BeginningOfLastMonth"/>
					<xs:enumeration value="BeginningOfLastQuarter"/>
					<xs:enumeration value="BeginningOfLastHalfYear"/>
					<xs:enumeration value="BeginningOfLastYear"/>
					<xs:enumeration value="BeginningOfNextDay"/>
					<xs:enumeration value="BeginningOfNextWeek"/>
					<xs:enumeration value="BeginningOfNextTenDays"/>
					<xs:enumeration value="BeginningOfNextMonth"/>
					<xs:enumeration value="BeginningOfNextQuarter"/>
					<xs:enumeration value="BeginningOfNextHalfYear"/>
					<xs:enumeration value="BeginningOfNextYear"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="StandardPeriod">
				<xs:sequence>
					<xs:element name="variant"/>
					<xs:element name="startDate"
							type="xs:dateTime"
							minOccurs="0"/>
					<xs:element name="endDate"
							type="xs:dateTime"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="StandardPeriodVariant">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Custom"/>
					<xs:enumeration value="Today"/>
					<xs:enumeration value="ThisWeek"/>
					<xs:enumeration value="ThisTenDays"/>
					<xs:enumeration value="ThisMonth"/>
					<xs:enumeration value="ThisQuarter"/>
					<xs:enumeration value="ThisHalfYear"/>
					<xs:enumeration value="ThisYear"/>
					<xs:enumeration value="FromBeginningOfThisWeek"/>
					<xs:enumeration value="FromBeginningOfThisTenDays"/>
					<xs:enumeration value="FromBeginningOfThisMonth"/>
					<xs:enumeration value="FromBeginningOfThisQuarter"/>
					<xs:enumeration value="FromBeginningOfThisHalfYear"/>
					<xs:enumeration value="FromBeginningOfThisYear"/>
					<xs:enumeration value="Yesterday"/>
					<xs:enumeration value="LastWeek"/>
					<xs:enumeration value="LastTenDays"/>
					<xs:enumeration value="LastMonth"/>
					<xs:enumeration value="LastQuarter"/>
					<xs:enumeration value="LastHalfYear"/>
					<xs:enumeration value="LastYear"/>
					<xs:enumeration value="LastWeekTillSameWeekDay"/>
					<xs:enumeration value="LastTenDaysTillSameDayNumber"/>
					<xs:enumeration value="LastMonthTillSameDate"/>
					<xs:enumeration value="LastQuarterTillSameDate"/>
					<xs:enumeration value="LastHalfYearTillSameDate"/>
					<xs:enumeration value="LastYearTillSameDate"/>
					<xs:enumeration value="Tomorrow"/>
					<xs:enumeration value="NextWeek"/>
					<xs:enumeration value="NextTenDays"/>
					<xs:enumeration value="NextMonth"/>
					<xs:enumeration value="NextQuarter"/>
					<xs:enumeration value="NextHalfYear"/>
					<xs:enumeration value="NextYear"/>
					<xs:enumeration value="NextWeekTillSameWeekDay"/>
					<xs:enumeration value="NextTenDaysTillSameDayNumber"/>
					<xs:enumeration value="NextMonthTillSameDate"/>
					<xs:enumeration value="NextQuarterTillSameDate"/>
					<xs:enumeration value="NextHalfYearTillSameDate"/>
					<xs:enumeration value="NextYearTillSameDate"/>
					<xs:enumeration value="TillEndOfThisWeek"/>
					<xs:enumeration value="TillEndOfThisTenDays"/>
					<xs:enumeration value="TillEndOfThisMonth"/>
					<xs:enumeration value="TillEndOfThisQuarter"/>
					<xs:enumeration value="TillEndOfThisHalfYear"/>
					<xs:enumeration value="TillEndOfThisYear"/>
					<xs:enumeration value="Last7Days"/>
					<xs:enumeration value="Next7Days"/>
					<xs:enumeration value="Month"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="StringQualifiers">
				<xs:sequence>
					<xs:element name="Length"
							type="xs:decimal"/>
					<xs:element name="AllowedLength"
							type="xsd1:AllowedLength"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Structure">
				<xs:sequence>
					<xs:element name="Property"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Value"
										nillable="true"/>
							</xs:sequence>
							<xs:attribute name="name"
									type="xs:NMTOKEN"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="Type">
				<xs:restriction base="xs:QName"/>
			</xs:simpleType>
			<xs:complexType name="TypeDescription">
				<xs:sequence>
					<xs:element name="Type"
							type="xs:QName"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="TypeSet"
							type="xs:QName"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="TypeId"
							type="xsd1:UUID"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="NumberQualifiers"
							type="xsd1:NumberQualifiers"
							minOccurs="0"/>
					<xs:element name="StringQualifiers"
							type="xsd1:StringQualifiers"
							minOccurs="0"/>
					<xs:element name="DateQualifiers"
							type="xsd1:DateQualifiers"
							minOccurs="0"/>
					<xs:element name="BinaryDataQualifiers"
							type="xsd1:BinaryDataQualifiers"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="UUID">
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ValueListItemType">
				<xs:sequence>
					<xs:element name="value"
							nillable="true"/>
					<xs:element name="presentation"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="checkState"
							type="xs:decimal"
							minOccurs="0"/>
					<xs:element name="picture"
							minOccurs="0"/>
					<xs:element name="id"
							type="xs:long"
							minOccurs="0"/>
					<xs:element name="formatPresentationSpecified"
							type="xs:boolean"
							minOccurs="0"/>
					<xs:element name="formatPresentation"
							type="xs:string"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueListType">
				<xs:choice>
					<xs:element name="valueType"
							type="xsd1:TypeDescription"/>
					<xs:element name="availableValues"
							type="xsd1:ValueListType"
							minOccurs="0"/>
					<xs:element name="item"
							type="xsd1:ValueListItemType"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="lastId"
							type="xs:long"
							minOccurs="0"/>
				</xs:choice>
			</xs:complexType>
			<xs:simpleType name="ValueStorage">
				<xs:restriction base="xs:base64Binary"/>
			</xs:simpleType>
			<xs:complexType name="ValueTable">
				<xs:sequence>
					<xs:element name="column"
							type="xsd1:ValueTableColumn"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="index"
							type="xsd1:ValueTableIndex"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="row"
							type="xsd1:ValueTableRow"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTableColumn">
				<xs:sequence>
					<xs:element name="Name"
							type="xs:NMTOKEN"
							minOccurs="0"/>
					<xs:element name="ValueType"
							type="xsd1:TypeDescription"
							minOccurs="0"/>
					<xs:element name="Title"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="Width"
							type="xs:nonNegativeInteger"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTableIndex">
				<xs:sequence>
					<xs:element name="column"
							type="xs:NMTOKEN"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTableRow">
				<xs:sequence>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTree">
				<xs:sequence>
					<xs:element name="column"
							type="xsd1:ValueTreeColumn"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="row"
							type="xsd1:ValueTreeRow"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTreeColumn">
				<xs:sequence>
					<xs:element name="Name"
							type="xs:NMTOKEN"
							minOccurs="0"/>
					<xs:element name="ValueType"
							type="xsd1:TypeDescription"
							minOccurs="0"/>
					<xs:element name="Title"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="Width"
							type="xs:nonNegativeInteger"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTreeRow">
				<xs:sequence>
					<xs:element name="row"
							type="xsd1:ValueTreeRow"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://v8.1c.ru/8.1/data/core"
				xmlns:xs2="http://www.tabakon-inventory-exchange.org"
				targetNamespace="http://www.tabakon-inventory-exchange.org"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:import namespace="http://v8.1c.ru/8.1/data/core"/>
			<xs:complexType name="Магазин">
				<xs:sequence>
					<xs:element name="Код"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="Наименование"
							type="xs:string"
							nillable="true"
							minOccurs="0"/>
					<xs:element name="ИдентификаторСсылки"
							type="xs:string"/>
					<xs:element name="КодОрганизации"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="НаименованиеОрганизации"
							type="xs:string"
							nillable="true"
							minOccurs="0"/>
					<xs:element name="ИдентификаторСсылкиОрганизации"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="СписокМагазинов">
				<xs:sequence>
					<xs:element name="Список"
							type="xsd2:Магазин"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ТабличныеДанные">
				<xs:sequence>
					<xs:element name="ТаблицаЗначений"
							type="xsd1:ValueTable"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetStoresList">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetStoresListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd2:СписокМагазинов"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetProductBalances">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StoreId"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetProductBalancesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd2:ТабличныеДанные"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UploadDocument">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DocumentDate"
								type="xs:date"/>
						<xs:element name="ShopData"
								type="xsd2:Магазин"/>
						<xs:element name="DocItemsTable"
								type="xsd2:ТабличныеДанные"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UploadDocumentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetInventoriesList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DocumentDate"
								type="xs:date"/>
						<xs:element name="StoreId"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetInventoriesListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd2:ТабличныеДанные"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CombineDocuments">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StrDocGUIDs"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CombineDocumentsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="GetStoresListRequestMessage">
		<part name="parameters"
				element="tns:GetStoresList"/>
	</message>
	<message name="GetStoresListResponseMessage">
		<part name="parameters"
				element="tns:GetStoresListResponse"/>
	</message>
	<message name="GetProductBalancesRequestMessage">
		<part name="parameters"
				element="tns:GetProductBalances"/>
	</message>
	<message name="GetProductBalancesResponseMessage">
		<part name="parameters"
				element="tns:GetProductBalancesResponse"/>
	</message>
	<message name="UploadDocumentRequestMessage">
		<part name="parameters"
				element="tns:UploadDocument"/>
	</message>
	<message name="UploadDocumentResponseMessage">
		<part name="parameters"
				element="tns:UploadDocumentResponse"/>
	</message>
	<message name="GetInventoriesListRequestMessage">
		<part name="parameters"
				element="tns:GetInventoriesList"/>
	</message>
	<message name="GetInventoriesListResponseMessage">
		<part name="parameters"
				element="tns:GetInventoriesListResponse"/>
	</message>
	<message name="CombineDocumentsRequestMessage">
		<part name="parameters"
				element="tns:CombineDocuments"/>
	</message>
	<message name="CombineDocumentsResponseMessage">
		<part name="parameters"
				element="tns:CombineDocumentsResponse"/>
	</message>
	<portType name="InventoryExchangePortType">
		<operation name="GetStoresList">
			<input name="GetStoresListRequest"
					message="tns:GetStoresListRequestMessage"/>
			<output name="GetStoresListResponse"
					message="tns:GetStoresListResponseMessage"/>
		</operation>
		<operation name="GetProductBalances">
			<input name="GetProductBalancesRequest"
					message="tns:GetProductBalancesRequestMessage"/>
			<output name="GetProductBalancesResponse"
					message="tns:GetProductBalancesResponseMessage"/>
		</operation>
		<operation name="UploadDocument">
			<input name="UploadDocumentRequest"
					message="tns:UploadDocumentRequestMessage"/>
			<output name="UploadDocumentResponse"
					message="tns:UploadDocumentResponseMessage"/>
		</operation>
		<operation name="GetInventoriesList">
			<input name="GetInventoriesListRequest"
					message="tns:GetInventoriesListRequestMessage"/>
			<output name="GetInventoriesListResponse"
					message="tns:GetInventoriesListResponseMessage"/>
		</operation>
		<operation name="CombineDocuments">
			<input name="CombineDocumentsRequest"
					message="tns:CombineDocumentsRequestMessage"/>
			<output name="CombineDocumentsResponse"
					message="tns:CombineDocumentsResponseMessage"/>
		</operation>
	</portType>
	<binding name="InventoryExchangeSoapBinding"
			type="tns:InventoryExchangePortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetStoresList">
			<soapbind:operation style="document"
					soapAction="http://www.tabakon-inventory-exchange.org#InventoryExchange:GetStoresList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetProductBalances">
			<soapbind:operation style="document"
					soapAction="http://www.tabakon-inventory-exchange.org#InventoryExchange:GetProductBalances"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="UploadDocument">
			<soapbind:operation style="document"
					soapAction="http://www.tabakon-inventory-exchange.org#InventoryExchange:UploadDocument"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetInventoriesList">
			<soapbind:operation style="document"
					soapAction="http://www.tabakon-inventory-exchange.org#InventoryExchange:GetInventoriesList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CombineDocuments">
			<soapbind:operation style="document"
					soapAction="http://www.tabakon-inventory-exchange.org#InventoryExchange:CombineDocuments"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="InventoryExchangeSoap12Binding"
			type="tns:InventoryExchangePortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetStoresList">
			<soap12bind:operation style="document"
					soapAction="http://www.tabakon-inventory-exchange.org#InventoryExchange:GetStoresList"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetProductBalances">
			<soap12bind:operation style="document"
					soapAction="http://www.tabakon-inventory-exchange.org#InventoryExchange:GetProductBalances"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="UploadDocument">
			<soap12bind:operation style="document"
					soapAction="http://www.tabakon-inventory-exchange.org#InventoryExchange:UploadDocument"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetInventoriesList">
			<soap12bind:operation style="document"
					soapAction="http://www.tabakon-inventory-exchange.org#InventoryExchange:GetInventoriesList"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CombineDocuments">
			<soap12bind:operation style="document"
					soapAction="http://www.tabakon-inventory-exchange.org#InventoryExchange:CombineDocuments"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="InventoryExchange">
		<port name="InventoryExchangeSoap"
				binding="tns:InventoryExchangeSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://localhost:1777/ut/ws/InventoryExchange"/>
		</port>
		<port name="InventoryExchangeSoap12"
				binding="tns:InventoryExchangeSoap12Binding">
			<soap12bind:address location="http://localhost:1777/ut/ws/InventoryExchange"/>
		</port>
	</service>
</definitions>